// theming bootstrap
$theme-colors: (
  "primary": #f3356c,
  "secondary": #303090,
 
);

$body-bg: #fff;
$body-color: #111;
$blue: #303090;
$pink: #f3356c;
$colors: (
  "primaryColor": #303090,
  "blue": #303090,
  "pink": #f3356c,
) !default;

.primary-color {
  color: $pink !important;
}

.secondary-color {
  color: $blue !important;
}

.other{
  color: $body-color !important;
}

.primary-bg {
  background: $pink;
}

.secondary-bg {
  background: $blue;
}

@import "../../node_modules//bootstrap/scss/bootstrap.scss";

@font-face {
  font-family: "font-regular";
  src: url("/fonts/Raleway-Regular.ttf");
}

@font-face {
  font-family: "font-light";
  src: url("/fonts/Raleway-Light.ttf");
}

@font-face {
  font-family: "font-medium";
  src: url("/fonts/Raleway-Medium.ttf");
}

@font-face {
  font-family: "font-bold";
  src: url("/fonts/Raleway-Bold.ttf");
}

@font-face {
  font-family: "font-black";
  src: url("/fonts/Raleway-Black.ttf");
}

@import "./nprogress";
@import "./jezkid";

html,
body,
#app,
main {
  min-height: 100%;
  min-height: 100vh;
  min-width: 100%;
  font-family: "font-light" !important;
}

b,
strong {
  font-weight: 600;
}

h1,
h2,
h3 {
  font-family: "font-bold" !important;
  font-weight: 700;
}

h4,
h5,
h6 {
  font-family: "font-bold";
  font-weight: 500;
}

p {
  font-family: "font-light";
}

div {
  font-family: "font-light";
}

.font-light {
  font-family: "font-light" !important; // jezzkid add this to any class to use the font
}

.font-regular {
  font-family: "font-regular" !important; // // jezzkid add this to any class to to make font a bit bolder
}

.font-bold {
  font-family: "font-bold" !important;
}

.lead {
  font-size: 1.286rem;
  line-height: 1.52;
  font-family: "font-regular" !important;
}

.lead-large {
  font-size: 1.6rem;
  line-height: 1.52;
  font-family: "font-regular" !important;
}

h1,
.h1 {
  font-size: 3.282rem;
  line-height: 1;
  letter-spacing: -1px;
}

h2,
.h2 {
  font-size: 2.53rem;
  letter-spacing: -1px;
}

h3,
.h3 {
  font-size: 1.943rem;
  line-height: 1;
}

h4,
.h4 {
  // font-family: "Ubuntu", Nunito, sans-serif;
  font-size: 1.718rem;
  line-height: 1;
}

h5,
.h5 {
  font-size: 1.286rem;
  line-height: 1.15;
}

a:hover {
  text-decoration: none;
}

.z-index-5 {
  z-index: 5;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #7342fa;
}

.form-control {
  height: calc(2.6875rem + 2px);
  padding: 0.5rem 1rem;
  font-size: 0.9rem;
  line-height: 1.5;
  border-radius: 0.3rem;
}

.form-control-lg {
  height: calc(2.6875rem + 2px);
  padding: 1.58rem 1.25rem;
  font-size: 1.09rem;
  border-radius: 0.38rem;
}

.cursor-pointer {
  cursor: pointer;
}

.text-justify-100 {
  max-width: 200px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}

.bd {
  // position: absolute;
  border-bottom: 0px 5px solid#2560fb;
  // width: 0%;
  // opacity: 0;
}

.bd.border-active {
  border-bottom: 2px solid#2560fb;
  transition: border-bottom 0.7s;

  // width: 100%;
}

.input,
select,
textarea {
  font-size: 16px !important;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  .input,
  select,
  textarea {
    font-size: 16px !important;
  }
}

@include media-breakpoint-down(xs) {
}
@include media-breakpoint-down(sm) {
  // h2 {
  //   font-size: 1.7rem !important;
  //   letter-spacing: 0.5px !important;
  // }
}
@include media-breakpoint-down(md) {
  h2 {
    font-size: 1.6rem !important;
    letter-spacing: 0.3px !important;
    font-weight: 100 !important;
  }
}
@include media-breakpoint-down(lg) {
}
