.header-container {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  z-index: 10;
  padding-bottom: 0.8rem;
  padding-top: 0.8rem;
  height: auto;
  box-shadow: 0 0 1.8rem transparent;
  //   box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
  transition: box-shadow 0.3s, color 0.5s, background-color 0.5s;
  transition-property: box-shadow, color, background-color;
  transition-duration: 0.3s, 0.5s, 0.5s;
  transition-timing-function: ease, ease, ease;
  transition-delay: 0s, 0s, 0s;
}

.header {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  font-size: 1.05rem;
  justify-content: space-between;
  width: 100%;
}

// .header-container.scrolled {
// //   box-shadow: 0 0 1.8rem rgba(0, 0, 0, 0.15);
// }
